#header {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin: 10px;
  align-items: center;
  background-color: rgb(57, 147, 236);
  height: 4 rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header h3 {
  padding-left: 2rem;
  font-family: Montserrat;
  color: aliceblue;
}

.logo {
  width: 2.8rem;
}
* {
  font-family: montserrat;
}

#container {
  padding: 30px;
  display: flex;
}

#slider {
  text-align: center;
  padding: 2%;
  width: 100%;
  height: 520px;
  overflow: scroll;
  border-radius: 3%;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(87, 92, 95, 0.5);
  -moz-box-shadow: 0px 0px 18px 0px rgba(87, 92, 95, 0.5);
  box-shadow: 0px 0px 18px 0px rgb(87, 92, 95, 0.5);
}

#slider::-webkit-scrollbar {
  width: 0.5px;
}

#searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
}

#searchTerm {
  margin-left: 10px;
  padding-left: 10px;
  height: 26px;
  border: 1px solid rgb(57, 147, 236);
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

#searchTerm:focus {
  color: #00b4cc;
}

#searchButton {
  height: 30px;
  border: 1px solid rgb(57, 147, 236);
  background: rgb(57, 147, 236);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#searchButton:hover {
  border: 1px solid rgb(75, 128, 181);
  background: rgb(48, 98, 147);
}

#tweetsButton {
  height: 30px;
  border: 1px solid rgb(57, 147, 236);
  background: rgb(57, 147, 236);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#tweetsButton:hover {
  border: 1px solid rgb(75, 128, 181);
  background: rgb(48, 98, 147);
}

#mapContainer {
  background-color: white;
  padding-right: 30px;
}

#mapClipPath {
  height: 500px;
  width: 800px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
}

.tweet-wrap {
  text-align: left;
  max-width: 490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgb(87, 92, 95, 0.313);
}
.tweet-header-info {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}
.tweet-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}
.tweet-header p {
  font-weight: normal;
  margin-top: 10px;
}

#btnTweet{
  height: 25px;
  border: 1px solid rgb(57, 147, 236);
  background: rgb(57, 147, 236);
  padding: 0 10px 0 10px;
  text-align: center;
  margin-left: auto;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#villeMsg {
  color: rgb(213, 54, 126);
  padding: 10px;
  border: 2px solid rgb(213, 54, 126);
  border-radius: 10px;
}

#loadBox {
  font-weight: 600;
  color: #3498db;
}

.loader {
  margin-top: 20px;
  margin-left: 250px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.loaderSearch {
  margin-left: 10px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.blankLoader {
	margin-left: 10px;
	z-index: -1;
	border: 5px solid #f3f3f3;
  width: 20px;
  height: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
